name: pip install test
on: [push, pull_request]

jobs:
  pip:
    name: pip install
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt-get update
      - run: sudo apt-get install -y python3-pip python3-gi
      - run: pip install .
